# vim: ft=yaml
---
ignore: |
  config/
  deploy/
  proposed-update-graph.yaml
  validated-update-graph.yaml
  e2e/
  examples
  pkg/crds
yaml-files:
  - "*.yaml"
  - "*.yml"
  - ".yamllint"
extends: "default"
rules:
  quoted-strings: "enable"
  line-length: "disable"
