---
name: "Release"
on:  # yamllint disable-line rule:truthy
  push:
    tags:
      - "*"
permissions:
  contents: "write"
  packages: "write"
env:
  GO_VERSION: "~1.25"
jobs:
  goreleaser:
    runs-on: "depot-ubuntu-24.04"
    env:
      KUSTOMIZER_ARTIFACT: "oci://ghcr.io/${{github.repository_owner}}/${{github.event.repository.name}}-manifests"
    steps:
      - uses: "actions/checkout@v6"
        with:
          fetch-depth: 0
      - uses: "authzed/actions/setup-go@main"
        with:
          go-version: "${{ env.GO_VERSION }}"
      - uses: "authzed/actions/docker-login@main"
        with:
          quayio_token: "${{ secrets.QUAYIO_PASSWORD }}"
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          dockerhub_token: "${{ secrets.DOCKERHUB_ACCESS_TOKEN }}"
      - uses: "docker/setup-qemu-action@v3"
      - uses: "docker/setup-buildx-action@v3"
      # the release directory is gitignored, which keeps goreleaser from
      # complaining about a dirty tree
      - name: "Copy manifests to release directory"
        run: |
          mkdir release
          cp -R config release
      - name: "Set operator image in release manifests"
        uses: "mikefarah/yq@master"
        with:
          cmd: |
            yq eval '.images[0].newTag="${{ github.ref_name }}"' -i ./release/config/kustomization.yaml
      - name: "Build release bundle.yaml"
        uses: "karancode/kustomize-github-action@master"
        with:
          token: "${{ github.token }}"
          kustomize_build_dir: "release/config"
          kustomize_output_file: "release/bundle.yaml"
      - uses: "goreleaser/goreleaser-action@v6"
        with:
          distribution: "goreleaser-pro"
          version: "latest"
          args: "release --clean"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          GORELEASER_KEY: "${{ secrets.GORELEASER_KEY }}"
      - name: "Setup Kustomizer CLI"
        uses: "stefanprodan/kustomizer/action@main"
      - name: "Push release manifests"
        run: |
          kustomizer push artifact ${KUSTOMIZER_ARTIFACT}:${{ github.ref_name }} -k ./release/config \
            --source=${{ github.repositoryUrl }} \
            --revision="${{ github.ref_name }}/${{ github.sha }}"
      - name: "Tag latest release manifests"
        run: |
          kustomizer tag artifact ${KUSTOMIZER_ARTIFACT}:${GITHUB_REF_NAME} latest
